@(patient: Patient)(implicit flash: Flash, lang: Lang)

    @main(Messages("patients.details", patient.id, flash)) {
        <h2>
            @tags.barcode(patient.id)
            @Messages("patients.details", patient.id)
        </h2>

        <dl class="dl-horizontal">
            <dt>@Messages("pin"):</dt>
            <dd>@patient.id<dd>

            <dt>@Messages("name"):</dt>
            <dd>@patient.firstName<dd>

            <dt>@Messages("description"):</dt>
            <dd>@patient.lastName</dd>
        </dl>
    }